{% extends "base.html" %}
{% block content %}
    <div><h3 class="blog-title">{{blog.title}}</h3></div>
    <br>
    <div><pre class="blog-text">{{blog.body}}</pre></div>
    <br>
    <form class="like-form" method="post" action="/blog/{{blog.key().id()}}/togglelike">
      {% if user_id in blog.liked %}
        <input type="submit" value="Unlike">
      {% else %}
        <input type="submit" value="Like">
      {% endif %}
    </form>
    <form class="edit-form" method="get" action="/blog/{{blog.key().id()}}/edit">
      <input type="submit" value="Edit">
    </form>
    <form class="delete-form" method="post" action="/blog/{{blog.key().id()}}/delete">
      <input type="submit" value="Delete">
    </form>
    <br>
    <text class="error">{{error}}</text>
    <br>
    <hr>
    <div>
      <form method="post" action="/blog/{{blog.key().id()}}/addcomment">
        <textarea class ="comment-textarea-small" name="text" value=""></textarea>
        <br>
        <text class="error">{{add_comment_error}}</text>
        <br>
        <input type="submit" value="Add Comment">
      </form>
    </div>
    {% for comment in comments %}
      <hr>
      <div><h3 class="comment-title">{{comment.get_username()}}</h3></div>
      <br>
      <div><pre class="comment-text">{{comment.text}}</pre></div>
      <br>
      <form class="edit-form" method="get" action="/blog/comment/{{comment.key().id()}}/edit">
        <input type="submit" value="Edit">
      </form>
      <form class="delete-form" method="post" action="/blog/comment/{{comment.key().id()}}/delete">
        <input type="submit" value="Delete">
      </form>
      <br>
      {% if comment_error_id %}
        {% if comment_error_id == comment.key().id() %}
          <text class="error">{{comment_error}}</text>
        {% endif %}
      {% endif %}
    {% endfor %}
{% endblock %}
