{% extends "base.html" %}
{% block content %}
  <h2>Edit Blog</h2>
  <form class="edit-form" method="post">
    <div>
      <label class="newpost-label">Title</label>
      <input class="newpost-text" name="subject" type="text" value="{{blog.title}}">
    </div>
    <br>
    <div>
      <label class="newpost-label">Content</label>
      <textarea class="newpost-textarea" name="content" value="">{{blog.body}}</textarea>
    </div>
    <br>
    <text class="error">{{error}}</text>
    <br>
    <input type="submit">
    <input type="button" onclick="location.href='/blog/{{blog.key().id()}}';" value="Cancel" />
  </form>
{% endblock %}
