{% extends "base.html" %}
{% block content %}
  <h2>New Blog</h2>
  <form method="post">
    <div>
      <label class="newpost-label">Title</label>
      <input class="newpost-text" name="subject" type="text" value="{{title}}">
    </div>
    <br>
    <div>
      <label class="newpost-label">Content</label>
      <textarea class="newpost-textarea" name="content" value="">{{text}}</textarea>
    </div>
    <br>
    <text class="error">{{error}}</text>
    <br>
    <input type="submit">
  </form>
{% endblock %}
